.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  color: white;
  width: 80vw;
  height: 15vh;
  vertical-align:  center;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.progress-bar {
  margin-left: auto;
  margin-right: auto;
  width: 12vw;
  height: 6vh;
  border: solid black 1px;
}

.progress-filler {
  height: 6vh;
  width: 3vw;
  background-color: lightskyblue;
  margin: 0px;
  float: left;
}

.feedback-card {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.feedback-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.form-header {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 2em;
  margin-bottom: 8vh;
}

.form-select {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 10vh;
  width: 20vw;  
  background-color: white;
  margin-bottom: 6vh;
}

.next-button {  
  float: right;
}

.progress-bar-div {
  margin-bottom: 10vh;
}
